html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(35, 2, 34);
  background: linear-gradient(
    2deg,
    rgba(35, 2, 34, 0.9475140397956058) 44%,
    rgb(19 18 20) 61%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.card {
  position: relative;
  overflow: hidden;
  width: 320px;
  min-height: 450px;
  margin: 50px auto;
  background: linear-gradient(
    270deg,
    rgba(35, 2, 34, 0.9475140397956058) 85%,
    rgba(16, 1, 18, 0.7794468129048494) 100%
  );
  border: 5px solid #1a163f;
  border-radius: 3px;
  box-shadow: 0 0 10px #2a264f;
}

.card .img1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background-size: 310px 440px;
  background-position: left top;
  transition: all 0.5s ease-in-out;
}

.card .img2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background-size: 310px 440px;
  background-position: left bottom;
  transition: all 0.5s ease-in-out;
}

.card .title {
  height: 22%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #fffc;
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 -95px 28px -25px #000 inset;
}

.card .text {
  position: absolute;
  bottom: 80px;
  height: 120px;
  padding: 15px 10px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  transform: rotate(90deg);
  transform-origin: 0 100px;
  opacity: 0;
  transition: all 0.5s ease;
}

.card .catagory {
  position: absolute;
  left: 10px;
  top: 140px;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background: #2a264f;
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 0);
  transition: all 0.5s ease;
}

.card .views {
  position: absolute;
  left: 10px;
  top: 175px;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background: #8b2463;
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 0);
  transition: all 0.5s ease 0.15s;
}

.card:hover .img1 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5;
}

.card:hover .img2 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px;
}

.card:hover .text {
  opacity: 0.8;
  transform: rotate(0deg);
}

.card:hover .views,
.card:hover .catagory {
  transform: translate(0);
}
.loadmorebutton {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 80px;
}
.loadmorebtn {
  background-color: rgba(26, 153, 175, 0);
  color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 10px;
}
.posterImage {
  border-radius: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  top: 35% !important;
}
#Topswiper .swiper-button-next:after,
.swiper-button-prev:after {
  font-size: "25px" !important;
  color: "#fff" !important;
}
@media screen and (max-width: 997px) {
  .search-result-box {
    display: block !important;
    text-align: center;
  }
  .homegrid {
    grid-template-columns: 1fr !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 95% !important;
  }
}
